.tabs_container{
    display: flex;
    gap: 40px;
   margin-top: 44px;
}
button {
    color: #101828;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        background: transparent;
        border: none;
        outline: none;
      
}



button.active {
    border-bottom: 2px solid blue;

}